body {
  background-image: url('img/bg3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1:hover{
    color: white;  
}

h4{
    display: block;
    font-size: 0.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0% 0% 0% 3.5%;
}

h1 {
    display: block;
    font-size: 7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0% 0% 0% 3.5%;
    margin: 0% 29% 2% 30%;
    background-color: #00000066;
}

.border{
    padding: 1% 31% 0% 32%;
  }

.chessBoard {
            display: inline-block;
            border: 45px solid brown;
        }

.chessBoard:hover{
     display: inline-block;
            border: 45px solid grey;
            box-shadow: 4px;
        }
}

.chessBoard div {
            line-height: 1px;
        }
 
.chessBoard span {
            display: inline-block;
            width: 57px;
            height: 57px;
            background-color: snow;
        }